<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediconnect"
    android:largeHeap="true">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediConnect">
    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCGQN_X5AbioAHotaWDZHa3dl5FHxtZu5o"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Homescreen" />
        <activity android:name=".Signin" />
        <activity android:name=".emergcall" />
        <activity android:name=".Signup" />
        <activity android:name=".Prfl_creation" />
        <activity android:name=".Patient" />
        <activity android:name=".Doctor" />
        <activity android:name=".Medical"/>
        <activity android:name=".Conversation" />
        <activity android:name=".NewConversation" />
        <activity android:name=".IssueDetails" />
        <activity android:name=".Patient_issueDetails" />
        <activity android:name=".AddNewIssue" />
        <activity android:name=".AddNewPatient"/>
        <activity android:name=".Lab"/>
        <activity android:name=".MedicineList"/>
        <activity android:name=".police"/>
        <activity android:name=".ambulance"/>
        <activity android:name=".hospital"/>
        <activity android:name=".pathology_lab"/>
        <activity android:name=".medical_store"/>
        <activity android:name=".ForgotPassword"/>
    <activity android:name=".Profile"/>




</application>

</manifest>